<form #searchForm="ngForm">
  <div class="form-group mb10">
    <label for="yearGraduated">Year Graduated Mesorah</label>
    <select name="yearGraduated" id="yearGraduated" #yearGraduated="ngModel"
      [(ngModel)]="searchTerms.terms.yearGraduated" class="form-control"
      [ngClass]="{'invalid-message': yearGraduated.touched &&  !yearGraduated.value}" required>
      <option></option>
      <option *ngFor="let year of allYears" value="{{year}}">{{year}}</option>
    </select>
    <span *ngIf="yearGraduated.touched && !yearGraduated.value">Please select a year!</span>
  </div>
</form>