.flex-parent {
    display: inline-flex;
    justify-content: space-between;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
.invalid-message {
    border: 1px solid red;
}

.small {
    font-size: small;
}