<nav class="navbar navbar-expand-md navbar-light bg-light mb10">
  <a routerLink="/home" class="navbar-brand" title="Mesorah Home Page">
    Mesorah High School
  </a>
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/profile" class="nav-link">Update Profile</a>
    </li>
    <li class="nav-item dropdown" routerLinkActive="active">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Alumni Search</a>
      <div class="dropdown-menu">
        <a routerLink="/search/name" class="dropdown-item">By Name</a>
        <a routerLink="/search/year" class="dropdown-item">By Graduating Year</a>
        <a routerLink="/search/location" class="dropdown-item">By Location</a>
        <a routerLink="/search/occupation" class="dropdown-item">By Occupation</a>
      </div>
    <li class="nav-item">
      <a href="https://www.mesorahhighschool.org/donate/" target="blank" class="nav-link">Donate</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/tefilos" class="nav-link">Tefilos</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/broadcast" class="nav-link">Broadcast Message</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li>
      <a href="#" class="nav-link">Log Out</a>
    </li>
  </ul>
</nav>