<form #searchForm="ngForm">
  <div class="form-group mb10">
    <div>
      <label for="city">Country</label>
      <select type="select" name="country" id="country" #country="ngModel" class="form-control"
        [(ngModel)]="searchTerms.terms.country" required class="form-control">
        <option value=""></option>
        <option *ngFor="let country of getUniqueCountries()" value="{{country}}">{{country}}</option>
      </select>
      <span *ngIf="country.invalid && country.touched">Please select a country!</span>
    </div>
    <div>
      <label for="state">State</label>
      <select type="select" name="state" id="state" #state="ngModel" class="form-control"
        [(ngModel)]="searchTerms.terms.state" [disabled]="searchTerms.terms.country!=='United States'">
        <option value=""></option>
        <option *ngFor="let location of allLocations" value="{{location.state}}">{{states['default'][location.state]}}
        </option>
      </select>
    </div>
    <div>
      <label for="city">City</label>
      <select type="select" name="city" id="city" #city="ngModel" class="form-control"
        [(ngModel)]="searchTerms.terms.city" required class="form-control">
        <option value=""></option>
        <option *ngFor="let location of allLocations" value="{{location.city}}">{{location.city}}</option>
      </select>
      <span *ngIf="city.invalid && city.touched">Please select a city!</span>
    </div>
  </div>
</form>