<form>
  <div class="form-row mb10">
    <div class="col">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" class="form-control">
    </div>
    <div class="col">
      <label for="lastNameAsStudent">Last Name (As Mesorah Student)</label>
      <input type="text" id="lastNameAsStudent" class="form-control">
    </div>
    <div class="col">
      <label for="lastNameMarried">Last Name (Married)</label>
      <input type="text" id="lastNameMarried" class="form-control">
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="onSearch()">Search</button>
  </div>
</form>