<div class="mb10">
  <form [formGroup]="broadcastForm" (ngSubmit)="onSubmit()">
    <div class="form-row mb10">
      <div class="col-md-6">
        <label for="replyTo">Reply To</label>
        <input type="text" name="replyTo" id="replyTo" readonly class="form-control" formControlName="replyTo">
      </div>
    </div>
    <div class="mb10">Recipients
    </div>
    <span *ngIf="onlyRecipientsInvalid()">Please
      select at least one recipient group!</span>
    <div class="form-row mb10">
      <div class="col-md-6 flex-parent" formGroupName="recipients">
        <div>
          <button class="btn btn-light dropdown-toggle" [ngClass]="{'invalid-message': onlyRecipientsInvalid()}"
            data-toggle="dropdown">Graduating Year</button>
          <div class="dropdown-menu">
            <div class="form-group">
              <div
                *ngFor="let year of broadcastForm.get('recipients')['controls'].byGraduatingYear.controls; let i = index"
                class="form-check pl-4" formArrayName="byGraduatingYear">
                <input type="checkbox" [formControlName]="i" (change)="onClickYear($event, year)" name="graduatingYear"
                  class="form-check-input">
                <label for="graduatingYear" class="form-check-label">{{allGraduatingYears[i]}} </label>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-light dropdown-toggle" [ngClass]="{'invalid-message': onlyRecipientsInvalid()}"
            data-toggle="dropdown">Location</button>
          <div class="dropdown-menu">
            <div class="form-group">
              <div
                *ngFor="let location of broadcastForm.get('recipients')['controls'].byLocation.controls; let i = index"
                class="form-check pl-4" formArrayName="byLocation">
                <input type="checkbox" [formControlName]="i" (change)="onClickLocation($event, location)"
                  name="location" class="form-check-input">
                <label for="location" class="form-check-label">{{allLocations[i]}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row mb10">
      <div class="col">
        <label for="topic">Topic</label>
        <select type="text" name="topic" id="topic" class="form-control" formControlName="topic">
          <option value=""></option>
          <option value="alumniEvent">Alumni Event</option>
          <option value="job">Job</option>
          <option value="petira">Petira</option>
          <option value="simcha">Simcha</option>
          <option value="tefilos">Tefilos</option>
          <option value="other">Other</option>
        </select>
        <span *ngIf="broadcastForm.get('topic').invalid && broadcastForm.get('topic').touched">Please choose a
          topic!</span>
      </div>
      <div class="col">
        <label for="subjectLine">Subject</label>
        <input type="text" name="subjectLine" id="subjectLine" class="form-control" formControlName="subjectLine">
        <span *ngIf="broadcastForm.get('subjectLine').invalid && broadcastForm.get('subjectLine').touched">Please enter a
          subject!</span>
      </div>
    </div>
    <div *ngIf="broadcastForm.get('topic').value === 'tefilos'" class="form-row mb10">
      <div class="col-md-6">
        <label for="nameForDavening">Name of Person Needing Tefilos</label>
        <input type="text" name="nameForDavening" id="hebrewName"
          placeholder="Please provide name and mother's name in Hebrew" class="form-control"
          formControlName="nameForDavening">
        <span *ngIf="broadcastForm.get('nameForDavening').invalid && broadcastForm.get('nameForDavening').touched">
          Please enter a name!</span>
      </div>
    </div>
    <div class="form-row mb10">
      <div class="col">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="20" rows="5" class="form-control"
          formControlName="description"></textarea>
        <span *ngIf="broadcastForm.get('description').invalid 
          && broadcastForm.get('description').touched 
          && broadcastForm.get('description').getError('required')">
          Please enter a description!</span>
        <span *ngIf="broadcastForm.get('description').invalid 
        && broadcastForm.get('description').touched 
        && broadcastForm.get('description').getError('maxlength')">
          Description cannot exceed 200 characters!</span>
      </div>
    </div>
    <div class="mb10">
      <button type="submit" class="btn btn-primary" [disabled]="broadcastForm.invalid">Send Message</button>
    </div>
  </form>
</div>