<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div formGroupName="personal">
    <h4>Name</h4>
    <div class="form-row mb10">
      <div class="col">
        <label for="firstName">First Name</label>
        <input type="text" name="name" id="firstName" class="form-control" formControlName="firstName">
        <span
          *ngIf="profileForm.get('personal').get('firstName').invalid && profileForm.get('personal').get('firstName').touched">
          Please enter your first name!</span>
      </div>
      <div class="col">
        <label for="lastNameAsStudent">Last Name (As Mesorah Student)</label>
        <input type="text" name="lastNameAsStudent" id="lastNameAsStudent" class="form-control"
          formControlName="lastNameAsStudent">
        <span
          *ngIf="profileForm.get('personal').get('lastNameAsStudent').invalid && profileForm.get('lastNameAsStudent').get('yearGraduated').touched">
          Please enter your last name!</span>
      </div>
    </div>
    <div class="form-row mb10">
      <div class="col-md-3">
        <label for="yearGraduated">Year Graduated Mesorah</label>
        <select name="yearGraduated" id="yearGraduated" class="form-control" formControlName="yearGraduated">
          <option></option>
          <option value="2000">2000</option>
          <option value="2001">2001</option>
          <option value="2002">2002</option>
          <option value="2003">2003</option>
          <option value="2004">2004</option>
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
        </select>
        <span
          *ngIf="profileForm.get('personal').get('yearGraduated').invalid && profileForm.get('personal').get('yearGraduated').touched">
          Please enter your graduating year!</span>
      </div>

    </div>
  </div>
  <div formGroupName="address">
    <h4>Address</h4>
    <div class="form-row mb10">
      <div class="col">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" formControlName="address" class="form-control">
      </div>
    </div>
    <div class="form-row mb10">
      <div class="col">
        <label for="city">City</label>
        <input type="text" name="city" id="city" formControlName="city" class="form-control">
      </div>
      <div class="col">
        <label for="state">State</label>
        <select type="select" id="state" name="state" formControlName="state" class="form-control"
          [disabled]="profileForm.get('address')['controls'].country !== 'US'">
          <option value=""></option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
      </div>
      <div class="col">
        <label for="country">Country</label>
        <select type="select" name="country" id="country" formControlName="country" class="form-control">
          <option value="US">United States</option>
          <option value="IL">Israel</option>
          <option value="AF">Afghanistan</option>
          <option value="AX">Åland Islands</option>
          <option value="AL">Albania</option>
          <option value="DZ">Algeria</option>
          <option value="AS">American Samoa</option>
          <option value="AD">Andorra</option>
          <option value="AO">Angola</option>
          <option value="AI">Anguilla</option>
          <option value="AQ">Antarctica</option>
          <option value="AG">Antigua and Barbuda</option>
          <option value="AR">Argentina</option>
          <option value="AM">Armenia</option>
          <option value="AW">Aruba</option>
          <option value="AU">Australia</option>
          <option value="AT">Austria</option>
          <option value="AZ">Azerbaijan</option>
          <option value="BS">Bahamas</option>
          <option value="BH">Bahrain</option>
          <option value="BD">Bangladesh</option>
          <option value="BB">Barbados</option>
          <option value="BY">Belarus</option>
          <option value="BE">Belgium</option>
          <option value="BZ">Belize</option>
          <option value="BJ">Benin</option>
          <option value="BM">Bermuda</option>
          <option value="BT">Bhutan</option>
          <option value="BO">Bolivia, Plurinational State of</option>
          <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
          <option value="BA">Bosnia and Herzegovina</option>
          <option value="BW">Botswana</option>
          <option value="BV">Bouvet Island</option>
          <option value="BR">Brazil</option>
          <option value="IO">British Indian Ocean Territory</option>
          <option value="BN">Brunei Darussalam</option>
          <option value="BG">Bulgaria</option>
          <option value="BF">Burkina Faso</option>
          <option value="BI">Burundi</option>
          <option value="KH">Cambodia</option>
          <option value="CM">Cameroon</option>
          <option value="CA">Canada</option>
          <option value="CV">Cape Verde</option>
          <option value="KY">Cayman Islands</option>
          <option value="CF">Central African Republic</option>
          <option value="TD">Chad</option>
          <option value="CL">Chile</option>
          <option value="CN">China</option>
          <option value="CX">Christmas Island</option>
          <option value="CC">Cocos (Keeling) Islands</option>
          <option value="CO">Colombia</option>
          <option value="KM">Comoros</option>
          <option value="CG">Congo</option>
          <option value="CD">Congo, the Democratic Republic of the</option>
          <option value="CK">Cook Islands</option>
          <option value="CR">Costa Rica</option>
          <option value="CI">Côte d'Ivoire</option>
          <option value="HR">Croatia</option>
          <option value="CU">Cuba</option>
          <option value="CW">Curaçao</option>
          <option value="CY">Cyprus</option>
          <option value="CZ">Czech Republic</option>
          <option value="DK">Denmark</option>
          <option value="DJ">Djibouti</option>
          <option value="DM">Dominica</option>
          <option value="DO">Dominican Republic</option>
          <option value="EC">Ecuador</option>
          <option value="EG">Egypt</option>
          <option value="SV">El Salvador</option>
          <option value="GQ">Equatorial Guinea</option>
          <option value="ER">Eritrea</option>
          <option value="EE">Estonia</option>
          <option value="ET">Ethiopia</option>
          <option value="FK">Falkland Islands (Malvinas)</option>
          <option value="FO">Faroe Islands</option>
          <option value="FJ">Fiji</option>
          <option value="FI">Finland</option>
          <option value="FR">France</option>
          <option value="GF">French Guiana</option>
          <option value="PF">French Polynesia</option>
          <option value="TF">French Southern Territories</option>
          <option value="GA">Gabon</option>
          <option value="GM">Gambia</option>
          <option value="GE">Georgia</option>
          <option value="DE">Germany</option>
          <option value="GH">Ghana</option>
          <option value="GI">Gibraltar</option>
          <option value="GR">Greece</option>
          <option value="GL">Greenland</option>
          <option value="GD">Grenada</option>
          <option value="GP">Guadeloupe</option>
          <option value="GU">Guam</option>
          <option value="GT">Guatemala</option>
          <option value="GG">Guernsey</option>
          <option value="GN">Guinea</option>
          <option value="GW">Guinea-Bissau</option>
          <option value="GY">Guyana</option>
          <option value="HT">Haiti</option>
          <option value="HM">Heard Island and McDonald Islands</option>
          <option value="VA">Holy See (Vatican City State)</option>
          <option value="HN">Honduras</option>
          <option value="HK">Hong Kong</option>
          <option value="HU">Hungary</option>
          <option value="IS">Iceland</option>
          <option value="IN">India</option>
          <option value="ID">Indonesia</option>
          <option value="IR">Iran, Islamic Republic of</option>
          <option value="IQ">Iraq</option>
          <option value="IE">Ireland</option>
          <option value="IM">Isle of Man</option>
          <option value="IT">Italy</option>
          <option value="JM">Jamaica</option>
          <option value="JP">Japan</option>
          <option value="JE">Jersey</option>
          <option value="JO">Jordan</option>
          <option value="KZ">Kazakhstan</option>
          <option value="KE">Kenya</option>
          <option value="KI">Kiribati</option>
          <option value="KP">Korea, Democratic People's Republic of</option>
          <option value="KR">Korea, Republic of</option>
          <option value="KW">Kuwait</option>
          <option value="KG">Kyrgyzstan</option>
          <option value="LA">Lao People's Democratic Republic</option>
          <option value="LV">Latvia</option>
          <option value="LB">Lebanon</option>
          <option value="LS">Lesotho</option>
          <option value="LR">Liberia</option>
          <option value="LY">Libya</option>
          <option value="LI">Liechtenstein</option>
          <option value="LT">Lithuania</option>
          <option value="LU">Luxembourg</option>
          <option value="MO">Macao</option>
          <option value="MK">Macedonia, the former Yugoslav Republic of</option>
          <option value="MG">Madagascar</option>
          <option value="MW">Malawi</option>
          <option value="MY">Malaysia</option>
          <option value="MV">Maldives</option>
          <option value="ML">Mali</option>
          <option value="MT">Malta</option>
          <option value="MH">Marshall Islands</option>
          <option value="MQ">Martinique</option>
          <option value="MR">Mauritania</option>
          <option value="MU">Mauritius</option>
          <option value="YT">Mayotte</option>
          <option value="MX">Mexico</option>
          <option value="FM">Micronesia, Federated States of</option>
          <option value="MD">Moldova, Republic of</option>
          <option value="MC">Monaco</option>
          <option value="MN">Mongolia</option>
          <option value="ME">Montenegro</option>
          <option value="MS">Montserrat</option>
          <option value="MA">Morocco</option>
          <option value="MZ">Mozambique</option>
          <option value="MM">Myanmar</option>
          <option value="NA">Namibia</option>
          <option value="NR">Nauru</option>
          <option value="NP">Nepal</option>
          <option value="NL">Netherlands</option>
          <option value="NC">New Caledonia</option>
          <option value="NZ">New Zealand</option>
          <option value="NI">Nicaragua</option>
          <option value="NE">Niger</option>
          <option value="NG">Nigeria</option>
          <option value="NU">Niue</option>
          <option value="NF">Norfolk Island</option>
          <option value="MP">Northern Mariana Islands</option>
          <option value="NO">Norway</option>
          <option value="OM">Oman</option>
          <option value="PK">Pakistan</option>
          <option value="PW">Palau</option>
          <option value="PS">Palestinian Territory, Occupied</option>
          <option value="PA">Panama</option>
          <option value="PG">Papua New Guinea</option>
          <option value="PY">Paraguay</option>
          <option value="PE">Peru</option>
          <option value="PH">Philippines</option>
          <option value="PN">Pitcairn</option>
          <option value="PL">Poland</option>
          <option value="PT">Portugal</option>
          <option value="PR">Puerto Rico</option>
          <option value="QA">Qatar</option>
          <option value="RE">Réunion</option>
          <option value="RO">Romania</option>
          <option value="RU">Russian Federation</option>
          <option value="RW">Rwanda</option>
          <option value="BL">Saint Barthélemy</option>
          <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
          <option value="KN">Saint Kitts and Nevis</option>
          <option value="LC">Saint Lucia</option>
          <option value="MF">Saint Martin (French part)</option>
          <option value="PM">Saint Pierre and Miquelon</option>
          <option value="VC">Saint Vincent and the Grenadines</option>
          <option value="WS">Samoa</option>
          <option value="SM">San Marino</option>
          <option value="ST">Sao Tome and Principe</option>
          <option value="SA">Saudi Arabia</option>
          <option value="SN">Senegal</option>
          <option value="RS">Serbia</option>
          <option value="SC">Seychelles</option>
          <option value="SL">Sierra Leone</option>
          <option value="SG">Singapore</option>
          <option value="SX">Sint Maarten (Dutch part)</option>
          <option value="SK">Slovakia</option>
          <option value="SI">Slovenia</option>
          <option value="SB">Solomon Islands</option>
          <option value="SO">Somalia</option>
          <option value="ZA">South Africa</option>
          <option value="GS">South Georgia and the South Sandwich Islands</option>
          <option value="SS">South Sudan</option>
          <option value="ES">Spain</option>
          <option value="LK">Sri Lanka</option>
          <option value="SD">Sudan</option>
          <option value="SR">Suriname</option>
          <option value="SJ">Svalbard and Jan Mayen</option>
          <option value="SZ">Swaziland</option>
          <option value="SE">Sweden</option>
          <option value="CH">Switzerland</option>
          <option value="SY">Syrian Arab Republic</option>
          <option value="TW">Taiwan, Province of China</option>
          <option value="TJ">Tajikistan</option>
          <option value="TZ">Tanzania, United Republic of</option>
          <option value="TH">Thailand</option>
          <option value="TL">Timor-Leste</option>
          <option value="TG">Togo</option>
          <option value="TK">Tokelau</option>
          <option value="TO">Tonga</option>
          <option value="TT">Trinidad and Tobago</option>
          <option value="TN">Tunisia</option>
          <option value="TR">Turkey</option>
          <option value="TM">Turkmenistan</option>
          <option value="TC">Turks and Caicos Islands</option>
          <option value="TV">Tuvalu</option>
          <option value="UG">Uganda</option>
          <option value="UA">Ukraine</option>
          <option value="AE">United Arab Emirates</option>
          <option value="GB">United Kingdom</option>
          <option value="UM">United States Minor Outlying Islands</option>
          <option value="UY">Uruguay</option>
          <option value="UZ">Uzbekistan</option>
          <option value="VU">Vanuatu</option>
          <option value="VE">Venezuela, Bolivarian Republic of</option>
          <option value="VN">Viet Nam</option>
          <option value="VG">Virgin Islands, British</option>
          <option value="VI">Virgin Islands, U.S.</option>
          <option value="WF">Wallis and Futuna</option>
          <option value="EH">Western Sahara</option>
          <option value="YE">Yemen</option>
          <option value="ZM">Zambia</option>
          <option value="ZW">Zimbabwe</option>
        </select>
      </div>
      <div class="col">
        <label for="postalCode">Postal Code</label>
        <input type="number" name="postalCode" id="postalCode" formControlName="postalCode" class="form-control">
      </div>
    </div>
  </div>
  <div formGroupName="contact">
    <h4>Contact</h4>
    <div class="form-row mb10">
      <div class="col">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email" class="form-control">
      </div>
      <div class="col">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" name="phone" id="phoneNumber" formControlName="phoneNumber"
          [value]="profileForm.get('contact').get('phoneNumber').value | phoneNumber: profileForm.get('address').get('country').value"
          class="form-control">
      </div>
    </div>
  </div>
  <div formGroupName="family">
    <h4>Family</h4>
    <div>
      <h6>Married?</h6>
      <div class="form-check form-check-inline mb10">
        <input type="radio" name="isMarried" id="married" class="form-check-input" formControlName="isMarried"
          [value]="true">
        <label for="married" class="form-check-label">Yes</label>
      </div>
      <div class="form-check form-check-inline mb10">
        <input type="radio" name="isMarried" id="notMarried" class="form-check-input" formControlName="isMarried"
          [value]="false">
        <label for=" notMarried" class="form-check-label">No</label>
      </div>
      <div *ngIf="profileForm.get('family')['controls'].isMarried.value === true" formGroupName="husband">
        <div class="form-row mb10">
          <div class="col">
            <label for="husbandFirstName">Husband's First Name</label>
            <input type="text" name="husbandFirstName" id="husbandFirstName" class="form-control"
              formControlName="firstName">
          </div>
          <div class="col">
            <label for="husbandLastName">Husband's Last Name</label>
            <input type="text" name="husbandLastName" id="husbandLastName" class="form-control"
              formControlName="lastName">
          </div>
        </div>
        <div class="form-row mb10">
          <div class="col-md-6">
            <label for="husbandOccupation">Husband's Occupation</label>
            <input type="text" name="husbandOccupation" id="husbandOccupation" class="form-control"
              formControlName="occupation">
          </div>
        </div>
      </div>
    </div>
    <div>
      <h6>Children?</h6>
      <div class="form-check form-check-inline mb10">
        <input type="radio" name="hasChildren" id="yesChildren" class="form-check-input" formControlName="hasChildren"
          [value]="true">
        <label for="yesChildren" class="form-check-label">Yes</label>
      </div>
      <div class="form-check form-check-inline mb10">
        <input type="radio" name="hasChildren" id="noChildren" class="form-check-input" formControlName="hasChildren"
          [value]="false">
        <label for="noChildren" class="form-check-label">No</label>
      </div>
      <div *ngIf="profileForm.get('family')['controls'].hasChildren.value===true" formArrayName="children">
        <div *ngFor="let child of profileForm.get('family').get('children')['controls']; let i = index"
          [formGroupName]="i">
          <div class="form-row mb10">
            <div class="col">
              <label for="child.name{{i}}">Name</label>
              <input type="text" name="child.name" id="child.name{{i}}" class="form-control" formControlName="name">
            </div>
            <div class="col">
              <label for="child.gender{{i}}">Gender</label>
              <select type="text" name="child.gender" id="child.gender{{i}}" class="form-control"
                formControlName="gender">
                <option value=""></option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
              </select>
            </div>
          </div>
          <div class="form-row mb10 flex-parent">
            <div class="col-md-6 flex-child">
              <label for="child.birthday{{i}}">Birthday</label>
              <input type="date" name="child.birthday" id="child.birthday{{i}}" class="form-control"
                formControlName="birthday"
                [value]="profileForm.get('family').get('children')['controls'][i].get('birthday').value | date: 'yyyy-MM-dd'">
            </div>
            <div *ngIf="!profileForm.disabled" class="flex-child text-right">
                <button type="button" class="btn btn-outline-danger btn-sm bottom-right" (click)="onRemoveChild(i)">Remove Child</button>
            </div>
          </div>
        </div>
        <div class="mb10" *ngIf="!profileForm.disabled">
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onAddChild()">Add Child</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div formGroupName="professional">
      <h4>Professional</h4>
      <div class="form-row mb10">
        <div class="col-md-6">
          <label for="occupation"> Occupation </label>
          <input type="text" name="occupation" id="occupation" class="form-control" formControlName="profession">
        </div>
      </div>
      <div class="form-row mb10">
        <div class="col-md-6">
          <label for="company"> Company </label>
          <input type="text" name="company" id="company" class="form-control" formControlName="company">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="mb10" *ngIf="!profileForm.disabled">
      <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Update</button>
    </div>
  </div>
</form>