<div class="mb10">
  <router-outlet (activate)="getSearchTerms($event)"></router-outlet>
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="searchForm.invalid" (click)="onSearch()">Search</button>
  </div>
</div>
<div class="mb10">
  <h2>Results:</h2>
  <ul class="nav flex-column">
    <li *ngFor="let alumna of searchResults">
      <a routerLink="/profile/{{alumna.id}}" class="nav-link inline-block">
        {{alumna.lastName}}, {{alumna.firstName}}
      </a>
    </li>
  </ul>
  <div *ngIf="noResultsReturned">
    <p>Sorry, no results were found. Please check the search terms, and try again.</p>
  </div>
</div>